page-tema2-3a {

    .fondo{
        background-color: #c3fdff;
    }
    
    .card-title{
        font-weight: bold;
        text-align: justify;
    }
    
    .card-subtitle{
        text-align: justify;
    }
    
    .button-content{
        text-align: center;
    }
    
}
