page-seleccion-capitulo {

    .fondo{
        background-color: #c3fdff;
    }
    
    .card-title{
        font-weight: bold;
        text-align: justify;
    }
    
    .card-subtitle{
        text-align: justify;
    }
    
    .button-content{
        text-align: center;
    }
    
    .img_content{
        margin-top:10%;
        text-align: center;
    }

    .img_size{
        display:block;
        margin:auto;
        width: 50%;
        height: 50%;
    }
}
